'body':
  'alt-u': 'pane:show-previous-item'
  'alt-o': 'pane:show-next-item'
  'alt-shift-u': 'pane:move-item-left'
  'alt-shift-o': 'pane:move-item-right'
  'ctrl-shift-s': 'window:save-all'
  'alt-,': 'window:focus-pane-on-left'
  'alt-.': 'window:focus-pane-on-right'

'atom-text-editor':
  'alt-i': 'core:move-up'
  'alt-j': 'core:move-left'
  'alt-k': 'core:move-down'
  'alt-l': 'core:move-right'
  'alt-h': 'editor:move-to-first-character-of-line'
  'alt-;': 'editor:move-to-end-of-screen-line'

  'alt-shift-i': 'core:select-up'
  'alt-shift-j': 'core:select-left'
  'alt-shift-k': 'core:select-down'
  'alt-shift-l': 'core:select-right'
  'alt-shift-h': 'editor:select-to-first-character-of-line'
  'alt-shift-;': 'editor:select-to-end-of-line'

  'alt-ctrl-j': 'editor:move-to-beginning-of-word'
  'alt-ctrl-l': 'editor:move-to-end-of-word'
  'alt-ctrl-shift-j': 'editor:select-to-beginning-of-word'
  'alt-ctrl-shift-l': 'editor:select-to-end-of-word'

  'ctrl-w': 'core:close'
  'alt-w': 'lisp-paredit:expand-selection'
  'alt-q': 'lisp-paredit:contract-selection'
  'alt-e': 'lisp-paredit:up-sexp'
  'alt-d': 'lisp-paredit:down-sexp'
  'alt-s': 'lisp-paredit:backward-sexp'
  'alt-f': 'lisp-paredit:forward-sexp'
  'alt-(': 'lisp-paredit:wrap-around-parens'
  'alt-[': 'lisp-paredit:wrap-around-square'
  'alt-{': 'lisp-paredit:wrap-around-curly'

'atom-workspace atom-text-editor':
  # Unset editor keybindings (conflict with multi-cursor-plus)
  'alt-left':        'unset!'
  'alt-right':       'unset!'
  'alt-shift-left':  'unset!'
  'alt-shift-right': 'unset!'

'atom-workspace':
  # Key bindings for multi-cursor-plus
  'alt-x':                'multi-cursor-plus:mark'
  'alt-up':               'multi-cursor-plus:move-up'
  'alt-down':             'multi-cursor-plus:move-down'
  'alt-left':             'multi-cursor-plus:move-left'
  'alt-right':            'multi-cursor-plus:move-right'
  'ctrl-alt-left':        'multi-cursor-plus:move-to-beginning-of-word'
  'ctrl-alt-right':       'multi-cursor-plus:move-to-end-of-word'
  'alt-home':             'multi-cursor-plus:move-to-first-character-of-line'
  'alt-end':              'multi-cursor-plus:move-to-end-of-line'
  'ctrl-alt-home':        'multi-cursor-plus:move-to-top'
  'ctrl-alt-end':         'multi-cursor-plus:move-to-bottom'
  'alt-shift-up':         'multi-cursor-plus:select-up'
  'alt-shift-down':       'multi-cursor-plus:select-down'
  'alt-shift-left':       'multi-cursor-plus:select-left'
  'alt-shift-right':      'multi-cursor-plus:select-right'
  'ctrl-alt-shift-left':  'multi-cursor-plus:select-to-beginning-of-word'
  'ctrl-alt-shift-right': 'multi-cursor-plus:select-to-end-of-word'
  'alt-shift-home':       'multi-cursor-plus:select-to-first-character-of-line'
  'alt-shift-end':        'multi-cursor-plus:select-to-end-of-line'
  'ctrl-alt-shift-home':  'multi-cursor-plus:select-to-top'
  'ctrl-alt-shift-end':   'multi-cursor-plus:select-to-bottom'

'atom-workspace atom-text-editor:not([mini])':
  'alt-r l': 'proto-repl:toggle'
  'alt-r shift-l': 'proto-repl:toggle-current-project-clj'
  'alt-r j': 'proto-repl:start-self-hosted-repl'
  'alt-r y': 'proto-repl:remote-nrepl-connection'
  'alt-r e': 'proto-repl:exit-repl'
  'alt-r k': 'proto-repl:clear-repl'
  'ctrl-alt-< s': 'proto-repl:toggle-auto-scroll'
  'alt-r b': 'proto-repl:execute-block'
  'alt-r B': 'proto-repl:execute-top-block'
  'alt-r s': 'proto-repl:execute-selected-text'
  'alt-r f': 'proto-repl:load-current-file'
  'alt-r r': 'proto-repl:refresh-namespaces'
  'ctrl-alt-< r': 'proto-repl:super-refresh-namespaces'
  'alt-r p': 'proto-repl:pretty-print'
  'alt-r x': 'proto-repl:run-tests-in-namespace'
  'alt-r t': 'proto-repl:run-test-under-cursor'
  'alt-r a': 'proto-repl:run-all-tests'
  'alt-r d': 'proto-repl:print-var-documentation'
  'alt-r c': 'proto-repl:print-var-code'
  'alt-r n': 'proto-repl:list-ns-vars'
  'ctrl-alt-< n': 'proto-repl:list-ns-vars-with-docs'
  'alt-r o': 'proto-repl:open-file-containing-var'
  'ctrl-shift-c': 'proto-repl:interrupt'
  'shift-enter': 'proto-repl:execute-text-entered-in-repl'
  'ctrl-alt-< i': 'proto-repl:insert-save-value-call'
  'ctrl-alt-< d': 'proto-repl:display-saved-values'
  'ctrl-alt-< c': 'proto-repl:clear-saved-values'

  'alt-shift-up': 'unset!'
  'alt-shift-down': 'unset!'
  'alt-up:':'unset!'
  'alt-down':'unset!'

  'ctrl-d': 'find-and-replace:select-next'

'atom-text-editor:not([mini])':
  'alt-up': 'unset!'
